<app-userpanel></app-userpanel>
<div class="test_content_header">
  <span> Тестирование </span>
</div>

<div class="test_content">
  <div class="test_content_description">
    <p>
      С каждым годом существенно возрастает уровень сложности и важности программного обеспечения (ПО), при этом
      тестирование ПО становиться неотъемлемой и значительной частью процесса его создания. В настоящее время появилось
      большое количество учебных курсов подготовки инженеров по тестированию ПО. Эти курсы отличаются полнотой изучения
      вопроса, уровнем подготовки аудитории для которой они предназначены и ■к целями, которые стояли перед авторами
      программ для данных курсов. Цель данной статьи сформулировать необходимые аспек-\ ты изучения стратегий тестирования
      и технологий автоматизации Т. И. Вишневская тестирования в условиях производства программного обеспечения
      для студентов, обучающихся по специальности «Программная инженерия».

      В основе выбора тем учебного материала по тестированию взят подход к тестированию ПО: тестировать как можно раньше,
      часто и в полном объёме, используя современные информационные технологии программной инженерии. Процесс тестирования
      переплетается с процессом разработки программ и тестировать необходимо на каждом этапе создания ПО. Раннее тестирование
      позволяет аналитикам и проектировщикам чётко формулировать требования к проекту и делает эти требования «поддающимися»
      тестированию. Исходные данные для тестирования - это техническое задание, спецификации, визуальные модели поведения
      программной системы и сама разрабатываемая программа, а также ее документация. Цель проектирования тестов -
      систематическое обнаружение различных классов ошибок при минимальных затратах времени и стоимости.
    </p>
  </div>
  <div class="test_content_history">
    <span>История тестов</span>
  </div>
  <div class="button-panel">
    <label>Вопросы</label>
    <button mat-icon-button aria-label="Редактировать" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
